.container {
  cursor: pointer;
  text-align: center;
  background-color: #3f51b5;
  height: 25px;
  color: white;

  &:hover {
    background-color: #7f8fee;
  }

  &.disabled {
    background-color: grey;
  }
}
