.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px;
  grid-gap: 20px;

  .title {
    font-size: 35px;
  }

  .thumbnail {
    display: grid;
    place-items: center;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
