.container {
  cursor: pointer;
  padding: 1px 5px;
  font-size: 14px;
  background: green;
  margin-bottom: 3px;
  color: white;

  &:hover {
    color: white;
    background-color: #3f51b5;
  }

  &.isPlaying {
    color: white;
    background-color: #3f51b5;
  }
}
